.containerOverview {
    background-color: #dcdcdc;
}

.containerOverview > div {
    margin: 0;
    width: 100%;
}

.icon {
    margin: 10px;
    display: inline-block;
    float: left;
}

.icon + p {
    margin-top: 11px;
}

.containerInfo {
    display: inline-block !important;
}

@media screen and (min-width: 820px) {
    .containerOverview {
        display: inline-block;
    }
}

@media screen and (min-width: 900px) {
    .unPaidInvoices, .lastMonthInvoices {
        float: left;
        width: 47%;
        margin: 0 1.5% 0 1.5% !important;
    }    
}