.containerOverview {
    background-color: #dcdcdc
}

.containerOverview > div {
    margin: 0;
    width: 100%;
}

.paddingClassOverview {
    padding: 10px;
}

.shadowClassOverview {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
}

.unPaidOverview {
    text-align: center;
}