.contactCard {
    height: auto;
}

.title, .buttons {
    text-align: center;
}

.Text {
    padding: 0 0 16px 16px !important;
}

img {
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.parent {
    min-width: 621px;
}

.infoNewPlan {
    font-size: 14px;
    display: inline-block;
}

.personalInfoNewPlan {
    width: 100%;
    float: left;
}

.buildingInfoNewPlan {
    width: 90%;
    padding-left: 0;
}

.errorFillIn > input {
    color: red !important;
}

.errorFillInCard {
    color: red !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #dcdcdc inset;
}

.addressContactCard {
    margin-bottom: 10px;
}

.aardContactCard {
    padding-right: 4rem;
}

.addressContactCardImg {
    margin-top: 7px;
}

.infoNewPlan div {
    display: -webkit-box;
}

.infoNewPlan div div {
    margin-top: 4px;
}

.formNewPlan {
    display: inline-block;
    width: 100%;
    min-width: 380px;
    margin-bottom: 25px;
}

.form__TextField__NewPlan {
    display: block;
    float: left;
    width: 90% !important;
    font-size: 20px !important;
    margin-right: 5%;
    height: 85px !important;
}

.buildingStreetNewPlan {
    border-top: 1px solid #293541;
}

.numberNewPlan {
    margin-bottom: 35px;
}

.form__PersonalNewPlan {
    padding-left: 3rem;
    height: 25rem;
}

.form__PlanNewPlan {
    padding-left: 3rem;
    height: 14rem;
}

.form__ContainerNewPlan {
    margin-left: 14rem;
    background-color: #dcdcdc;
}

.SubmitButton {
    text-align: center
}

.RaisedButton {
    width: 15rem;
    background-color: #2e8b57;
    color: white;
    border: none;
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    text-align: center;
    margin-top: 55px;
}

.RaisedButton:hover {
    background-color: #16683C;
}

.RaisedButton:disabled,
.RaisedButton[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.RaisedButton:disabled:hover,
.RaisedButton[disabled]:hover{
  background-color: #cccccc;
  color: #666666;
}

.RaisedButton span {
    font-size: 25px;
}

label {
    color: #293541 !important;
}

@media screen and (min-width: 780px) {
    .buildingInfoNewPlan {
        width: 47%;
        padding-left: 25px;
    }

    .personalInfoNewPlan {
        width: 47%;
        float: left;
    }

    .contactCard {
        height: 18rem;
        max-width: 900px;
    }

    .personalInfoNewPlan::after {
        content: "";
        background-color: #293541;
        position: absolute;
        width: 1px;
        height: 11rem;
        top: 100px;
        left: 50%;
        display: block;
    }
}   

@media screen and (min-width: 800px) {
    .form__TextField__NewPlan {
        width: 45% !important;
    }

    .buildingStreetNewPlan {
        border-top: 0;
    }

    .form__PlanNewPlan:after {
        content: "";
        background-color: #293541;
        width: 95%;
        height: 1px;
        display: block;
    }

    .RaisedButton {
        margin-top: 0;
    }
}