.section__Container {
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
}

.section__Container + div {
    -webkit-box-shadow: none;
    background-color: transparent;
}

.div__logoContainer {
    text-align: center;
}

.div__logoImg {
    width: 250px;
}

.div__textfieldsContainer {
    text-align: center;
}

.divTextFieldLogin {
    position: relative;
}

.divTextFieldLogin > svg {
    color: white;
    position: absolute;
    font-size: 20px;
}

.textFieldLogin > label {
    text-indent: 40px;
    color: white !important;
    left: 0px;
    top: inherit;
}

.textFieldLogin > input {
    text-indent: 30px;
    left: 0px;
}

.mailIcon {
    bottom: 13px !important;
}

.passwordIcon {
    bottom: 35px !important;
}

footer {
    position: fixed;
    bottom: 0;
    bottom: 0;
    width: 230px;
    height: 50px;
    margin-left: -115px;
    margin-top: -25px;
    left: 50%;
}

.loginButton {
    margin-top: 25px;
}

@media (min-width: 650px){
    .div__logoImg {
        width: 300px;
    }

    .divTextFieldLogin > svg {
        font-size: 20px;
        bottom: 35px;
    }

    .textFieldLogin > label {
        text-indent: 26px;
        left: 15px;
        font-size: 20px !important;
        padding-bottom: 10px !important;
    }
    
    .textFieldLogin > input {
        text-indent: 5px;
        width: 89% !important;
        left: 15px;
        font-size:17px !important;
    }
}  