.section__Container {
    margin: 0 auto;
    width: 100%;
}

.section__Container > div {
    -webkit-box-shadow: none;
    margin-top: 100px;
    background-color: transparent;
}

.section__Box {
    text-align: center;
}

.section__Modal {
    padding-top: 50px !important;
}

.section__Img {
    width: 250px;
}

.section__TextfieldsLogin {
    text-align: center;
}

.divTextFieldLogin {
    position: relative;
}

.divTextFieldLogin > svg {
    color: white;
    position: absolute;
    font-size: 20px;
}

.textFieldLogin > label {
    text-indent: 40px;
    color: white !important;
    left: 0px;
    top: inherit;
}

.textFieldLogin > input {
    text-indent: 30px;
    left: 0px;
}

.mailIcon {
    bottom: 13px !important;
}

.passwordIcon {
    bottom: 35px !important;
}

footer {
    position: fixed;
    bottom: 0;
    bottom: 0;
    width: 230px;
    height: 50px;
    margin-left: -115px;
    margin-top: -25px;
    left: 50%;
}

.loginButton {
    margin-top: 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: white;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: white;
    }
}

@media (min-width: 650px){
    .section__Img {
        width: 300px;
    }

    .divTextFieldLogin > svg {
        font-size: 30px;
        bottom: 35px;
    }

    .textFieldLogin > label {
        text-indent: 40px;
        left: 15px;
        font-size: 20px !important;
        padding-bottom: 10px !important;

    }
    
    .textFieldLogin > input {
        text-indent: 30px;
        left: 15px;
        padding-bottom: 10px !important;
        font-size: 20px !important;
    }
    
    /* .section__Container {
        margin: 0 auto;
        width: 100%;
        margin-top: 100px;
    }
    
    .section__Container > div {
        background-color: white;
        opacity: 0.8;
        width: 400px;
        margin: 0 auto;
        text-align: center;
    } */
}  