.section__Container {
    margin: 0 auto;
    width: 100%;
}

.section__Container > div {
    -webkit-box-shadow: none;
    margin-top: 130px;
    background-color: transparent;
}

.section__Box {
    text-align: center;
}

.section__Modal {
    padding-top: 50px !important;
}

.section__Img {
    width: 250px;
}

.section__TextfieldsLogin {
    text-align: center;
}

.textFieldLogin {
    position: relative;
}

.textFieldLogin > svg {
    color: white;
    position: absolute;
    font-size: 20px;
    bottom: 13px;
}

label {
    color: white !important;
    left: 8px;
}

input {
    width: 88% !important;
}

.footerPassword {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: white;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: white;
    }
}