.ContainerClients > div{
    margin-top: 0 !important;
}

.MuiTableCell-paddingNone-178 {
    padding: 4px 56px 4px 24px !important;
}

.deleteClient {
    float: left !important;
}

.icon {
    margin: 10px;
    display: inline-block;
    float: left;
}

.addressIcon, .buildingAddressIcon {
    margin-top: 20px !important;
}

.tableWrapper {
    overflow-x: auto;
    width: 100%;
}

.root {
    width: 100%;
}

.icon + p {
    margin-top: 11px;
}

.form__TextField__EditPlan {
    width: 100% !important;
    margin-right: 0 !important;
    float: left;
    font-size: 20px !important;
    height: 85px !important;
    margin-top: 10px;
}

.form__TextField__EditPlan > input {
    color: #293541 !important;
}

.form__TextField__EditPlan > label {
    color: #293541 !important;
}

.actionsEdit {
    display: inline-block !important;
}

.actionsEdit > Button{
    float: right;
}

.actionsEdit, .deleteClient, .cancelButtonClients {
    margin: 0 !important;
}

.buildingStreetEditPlan {
    border-top: 1px solid #293541;
}

@media screen and (min-width: 550px) {
    .form__TextField__EditPlan {
        width: 48% !important;
    }

    .form__TextField__EditPlan:nth-child(2n) {
        margin-left: 4% !important;
    }

    .aardEditPlan {
        width: 100% !important;
    }

    .buildingStreetEditPlan, .buildingCityEditPlan {
        border-top: 1px solid #293541;
    }
}