.ContainerClients > div{
    margin-top: 0 !important;
}

.HeaderClients {
    margin-left: 10px;
}

.Head {
    background-color: #dcdcdc;
}

.dossierNrColumnClients {
    padding: 4px 0 4px 20px !important;
    width: 64px !important;
}

.fullNameColumnClients {
    padding: 4px 0 4px 15px !important;
}

.addressColumnClients {
    padding: 4px 0 4px 0 !important;
}

.buildingAddressColumnClients {
    padding: 4px 0 4px 0 !important; 
}

.aardColumnClients {
    padding: 0 !important;   
}

.phoneColumnClients {
    padding: 4px 0 4px 0 !important;
}

.table {
    border-top: 1px solid rgb(158, 158, 158);
}

.MuiTableCell-paddingNone-178 {
    padding: 4px 56px 4px 24px !important;
}

.deleteClientClients {
    float: left;
}

.dossierNrColumnHeaderClients {
    padding: 4px 0 4px 20px !important;
}

.fullNameColumnHeaderClients {
    padding: 4px 0 4px 15px !important;
    width: 140px !important;
}

.addressColumnHeaderClients {
    padding: 4px 0 4px 0 !important;
    width: 150px !important;
}

.buildingAddressColumnHeaderClients {
    padding: 4px 0 4px 0 !important;
    width: 150px !important;
}

.phoneColumnHeaderClients {
    padding: 4px 0 4px 0 !important;
    width: 110px !important;
}

.aardColumnHeaderClients {
    padding: 4px 0 4px 0 !important;   
    width: 200px !important;
}