.contactCardInvoice {
    width: 85%;
    max-width: 647px;
    margin-top: 10px;
    position: relative;
    margin-left: 10px;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    margin-bottom: 30px;
}

.actionButtonsInvoice {
    margin-top: 20px;
    margin-right: 8px;
    text-align: right;
}

.infoInvoice {
    display: inline-block;
}

.infoInvoice div {
    display: -webkit-box;
    margin-top: 4px;
}

.personalInfoInvoice, .buildingInfo {
    width: 90%;
}

.form__ContainerNewInvoice input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
}

.infoInvoice p {
    display: -webkit-box;
}

.infoInvoice p div {
    margin-top: 4px;
}

.Dropdown {
    text-align: center;
    margin-bottom: 20px;
}

.Dropdown > div {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    background-color: white;
    width: 85%;
}

.Dropdown > div > label {
    padding: 10px 0 0 14px !important;
}

.selectDropdown {
    text-align: left;
    padding-left: 10px;
    margin-top: 26px !important;
    padding-bottom: 5px;
}

.labelSearchName {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.form__TextFieldSearchName {
    font-size: 20px !important;
    height: 85px !important;
}

.form__TextFieldSearchName > label {
    color: #293541 !important;
}

button + div {
    display: none;
}

div + span {
    text-align: center;
}

.form__TextField__NewInvoice {
    display: block;
    float: left;
    width: 100% !important;
    font-size: 20px !important;
    color: crimson;
    height: 85px !important;
}

.form__TextField__NewInvoice:nth-child(2n+1) input{
    text-align: left;
}

.form__TextField__NewInvoice:nth-child(2n+1) label{
    float: left;
}

.form__Container {
    margin-top: 15px;
}

.form__TextField__NewInvoice > input {
    color: #293541 !important;
}

.form__TextField__NewInvoice > label {
    color: #293541 !important;
}

.dialogNewInvoice {
    text-align: center !important;
}


@media screen and (min-width: 600px) {
    .form__TextFieldSearchName {
        width: 300px !important;
    }

    .Dropdown > div {
        width: 300px;
    }

    .actionButtonsInvoice {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 620px) {
    .Dropdown > div {
        width: 85%;
    }
}

@media screen and (min-width: 800px) {
    .form__TextField__NewInvoice {
        width: 48% !important;
        margin-right: 2%;
    }

    .form__Plan:after {
        content: "";
        background-color: #293541;
        width: 95%;
        height: 1px;
        display: block;
    }
}

@media screen and (min-width: 870px) {
    .personalInfoInvoice, .buildingInfoInvoice {
        width: 50%;
        float: left;
        max-width: 635px;
    }

    .personalInfoInvoice:after {
        content: "";
        background-color: #293541;
        position: absolute;
        width: 1px;
        height: 260px;
        top: 25px;
        left: 50%;
        display: block;
    }

    .Dropdown > div {
        font-size: 20px !important;
    }

    .actionButtonsInvoice {
        margin-top: 0;
    }

    .Dropdown {
        max-width: 758px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}
