.form {
    display: inline-block;
    margin-left: 3rem;
    width: 100%;
}

.form__TextField {
    display: block;
    float: left;
    width: 50%;
    font-size: 5rem;
    color: crimson;
}

.form__Container {
    margin-left: 14rem;
}