.overviewBtn {
    background-color:  #293540;
    color: white;
    border: none;
    float: left;
    width: 100%;
    height: 3.5rem;
    text-align: left;
    padding-left: 2rem;
    font-size: 19px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.overviewBtn:hover {
    background-color: #1F2B37;
    color: #E57E31;
}