.ContainerInvoices + div {
    background-color: #dcdcdc;
}

.dossierNrColumn {
    width: 10px;
}

.fullNameColumn {
    width: 80px;       
}

.FeeColumn {
    width: 150px;
    padding-left: 0 !important;
}

.DateCreatedColumn {
    padding: 0 !important;   
}

.DatePaidColumn {
    padding: 0 !important;   
}

.AardInvoiceColumn {
    padding: 0 !important;   
}

.form {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.formControl {
    width: 175px;
    margin-left: 20px !important;
}