.ContainerInvoices + div {
    background-color: #dcdcdc;
}

.dossierNrColumnInvoices {
    padding: 4px 0 4px 15px !important;
}

.dossierNrColumnHeaderInvoices {
    padding: 4px 0 4px 15px !important;
}

.paidColumnInvoices {
    padding: 4px 0 4px 15px !important;
}

.paidColumnHeaderInvoices {
    padding: 4px 0 4px 31px !important;
}

.fullNameColumnInvoices {
    padding: 4px 0 4px 24px !important;
    width: 170px;       
}

.fullNameColumnHeaderInvoices {
    padding: 4px 0 4px 24px !important;
}

.feeColumnInvoices {
    padding: 4px 0 4px 0 !important;
}

.feeColumnHeaderInvoices {
    padding: 4px 0 4px 0 !important;   
}

.dateCreatedColumnInvoices {
    padding: 0 !important;   
}

.dateCreatedColumnHeaderInvoices {
    padding: 4px 0 4px 0 !important;  
    width: 120px !important; 
}

.datePaidColumnInvoices {
    padding: 0 !important;   
}

.datePaidColumnHeaderInvoices {
    padding: 4px 0 4px 0 !important;  
    width: 120px !important;  
}

.aardInvoiceColumnInvoices {
    padding: 0 !important;   
}

.aardInvoiceColumnHeaderInvoices {
    padding: 4px 0 4px 0 !important;   
    width: 200px !important;
}

.formInvoices {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.formControlInvoices {
    width: 175px;
    margin-left: 20px !important;
}