.ContainerInvoices + div {
    background-color: #dcdcdc;
}

.dossierNrColumn {
    width: 10px;
}

.fullNameColumn {
    width: 80px;       
}

.FeeColumn {
    width: 150px;
    padding-left: 0 !important;
}

.DateCreatedColumn {
    padding: 0 !important;   
}

.DatePaidColumn {
    padding: 0 !important;   
}

.AardInvoiceColumn {
    padding: 0 !important;   
}