.header {
    background-color: white;
    height:  4rem;
}

.header__Title {
    font-size: 35px;
    margin-left: 2rem;
    float: left;
    margin-top: 8px;
}

.header__Logout {
    font-size: 20px;
    margin-left: 2rem;
    float: right;
    margin-top: 18px;
    margin-right: 10px;
}

.header__Logout-Link {
    text-decoration: none;
    color: #1F2B37;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.header__Logout-Link:hover {
    color: #E57E31;
}