/* .section__Logo {
    background-color:#E57E31;
    height: 64px;
    color : white;
    text-align: center;
    padding-top: 10px;
    float: left;
    width: 14rem;
}

.section__Logo-Naam {
    font-size: 19px;
} */