@font-face {
  font-family: 'Century Gothic';
  src: URL('./assets/Fonts/CenturyGothic.ttf') format('ttf');
}

html {
  background:linear-gradient(0deg,rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url('./assets/img/backgroundHQ.webp');
  background-size:cover;
  background-position-x: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 320px;
}

html:after {
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic" !important;
} 

.header__Container > header {
  background-color: #293540;
  opacity: 1;
}

h2 {
  float: left !important;
  margin: 2px 0 0 5px !important;
}

.badge {
  padding: 0  !important;
}

.badge > span {
  top: -15px !important;
}

.App-toolbar-7, .jss7 {
  background-color: white !important;
  display: inline-block !important;
  height: 72px !important;
  padding: 0 !important;
  float: left;
}

.App-menuButton-3, .jss3 {
  margin-top:  4px !important;
  margin-left:  4px !important;
  margin-right:  0 !important;
}

.MuiToolbar-root-44, .jss44 {
  display: inline-block !important;
}

.MuiToolbar-gutters-45, .jss45 {
  padding-left: 0 !important;
}

.App-drawerPaperClose-6 {
  width: 60px !important;
}

.header__ZIndex > header {
  z-index: none !important;
}

.content {
  background-color: #dcdcdc;
}

.Drawer > div {
  background-color: white;
  border: none;
}

.archBureau {
  padding: 10px 10px 10px 10px;
  text-align: center;
  line-height: 12px;
  background-color: #293540;
  color: white;
}

.Drawer {
  border-right: 1px black solid;
  display: none !important;
}

.root {
  flex-grow: 1;
  z-index: 1;
  overflow: hidden;
  position: relative;
  display: flex;
}

.newStuff {
  padding: 0 !important;
}

.jss3 {
  margin-top: 4px !important;
  margin-left: 4px !important;
  margin-right: 0 !important;
}

.appBarToolbar {
  display: none !important;
}

.appBarTabs {
  display: block !important;
}

a {
  text-decoration: none;
}

.link {
  color: black;
  text-align: center;
  width: 33.33%;
}

.TabIndicator-root-179, .TabIndicator-root-177, .TabIndicator-root-218 {
  background-color: black !important;
}

a > span {
  padding-right: 15px !important;
}

@media (min-width: 600px){
  body {
    /* background-color: rgba(255,255,255,0.7); */
  }

  h2 {
    margin: 0 0 0 25px !important;
    flex: 1;
  }

  .archBureau {
    border-right: 1px solid white;
    width: 220px;
  }

  .Drawer {
    margin-top: 60px !important;
    display: block !important;
    background-color: rgba(255,255,255,0.7);
  }

  .Drawer > div {
    background-color: transparent;
  }

  .App-toolbar-7, .jss7 {
    padding-left: 0 !important;
  }

  .App-menuButton-3, .jss3 {
    margin-left: 11px !important;
  }

  .App-drawerPaperClose-6, .jss6 {
    width: 60px !important;
  }

  .header__ZIndex > header {
    z-index: 1201 !important;
  }

  .jss44 {
    padding-left:  0 !important;
  }

  .appBarToolbar {
    display: block !important;
  }

  .appBarTabs {
    display: none !important;
  }

  .appBarToolbar > div {
    padding: 0 !important;
  }

  .header__Container > header {
    height: 60px;
  }
  
  .content {
    margin-top: 60px !important;
  }

  .content > div {
    min-height: 0px;
  }
  
  .App-toolbar-7, .jss7 {
    height: 60px !important;
  }
}
