.addBtn {
    background-color:  #2e8b57;
    color: white;
    border: none;
    float: left;
    width: 100%;
    height: 3.5rem;
    text-align: left;
    padding-left: 2rem;
    font-size: 19px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.addBtn:hover {
    background-color: #16683C;
    color: #E57E31;
}