.div__Sidebar {
    margin-top: 64px;
    width: 14rem;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color:#293541;
}

.div__Sidebar-Copyright {
    bottom: 0px;
    background-color:  #1F2B37;
    color: white;
    border: none;
    float: left;
    width: 14rem;
    height: 35px;
    text-align: center;
    font-size: 19px;
    vertical-align: middle;
    position: fixed;
    padding-top: 15px;
}